version: "3.8"

services:
  backend:
    image: ghcr.io/renupoc/employee-backend:latest
    ports:
      - "8080:8080"
    restart: always

  frontend:
    image: ghcr.io/renupoc/employee-frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
